body{
  font-family: poppins, sans-serif;
  background-color: #f1f1f1;
}
#container{
  width: 500px;
  height: 220px;
  text-align: center;
  padding: 50px 10px;
  margin: 180px 400px;
  box-shadow: 3px 1px 10px 1px rgba(0,0,0,0.2);
  border-radius: 15px;
}

#myLabel{
  font-size: 30px;
  font-weight: bold;
  color: rgb(39, 39, 39);

}

.title{
  margin-bottom: 50px;
}

#myText{
  width: 250px;
  height: 25px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
  padding: 5px 5px 5px 15px;
}

#myPassword{
  width: 250px;
  height: 25px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
  padding: 5px 5px 5px 15px;
}

#mySubmit{
  width: 85px;
  padding: 7px 10px 7px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
  font-size: 15px;
  background-color:rgb(154, 154, 154);
  color: white;
  cursor: pointer;
}

#mySubmit:hover{
  background-color: rgb(39, 39, 39);
  transition: 0.5s;
}

#mySubmit:active{
  background-color: rgb(173, 173, 173);
  transition: 0.5s;
}

#myResult{
  color: rgb(235, 26, 26);
  font-size: 12px;
  margin-top: -20px;
}

#refresh-button{
  width: 50px;
  padding: 7px 10px 7px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
  font-size: 8px;
  background-color:rgb(154, 154, 154);
  color: white;
  margin-left: 400px;
  margin-top: 15px;
  cursor: pointer;
}

#refresh-button:hover{
  background-color: rgb(39, 39, 39);
  transition: 0.5s;
}

#refresh-button:active{
  background-color: rgb(173, 173, 173);
  transition: 0.5s;
}